.login {
    /* background-color: rgba(30, 90, 30, 0.753); */
    min-height: 100vh;
}


.container {
    background-color: rgba(243, 228, 228, 0.863);
    border-radius: 10px;
    /* margin-top: 50px; */
}

.head {
    text-align: center;
}

.register {
    /* background-color: rgba(30, 90, 30, 0.753); */
    min-height: 100vh;
}